USE [master]
GO
/****** Object:  Database [Mobile_Store]    Script Date: 4/30/2026 7:34:44 AM ******/
CREATE DATABASE [Mobile_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mobile_Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Mobile_Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mobile_Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Mobile_Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mobile_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mobile_Store]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[logo_url] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](250) NULL,
	[CustomerAddress] [nvarchar](200) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_specs]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_specs](
	[spec_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[storage] [varchar](20) NULL,
	[ram] [varchar](20) NULL,
	[screen_size] [varchar](20) NULL,
	[battery] [varchar](20) NULL,
	[color] [varchar](30) NULL,
	[os] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[spec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [int] NULL,
	[category_id] [int] NULL,
	[name] [varchar](100) NOT NULL,
	[price] [decimal](8, 2) NOT NULL,
	[image_url] [varchar](200) NULL,
	[description] [text] NULL,
	[is_available] [bit] NULL,
	[StockQunatity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/30/2026 7:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([brand_id], [name], [logo_url]) VALUES (1, N'Apple', N'images/apple.png')
INSERT [dbo].[brands] ([brand_id], [name], [logo_url]) VALUES (2, N'Samsung', N'images/samsung.png')
INSERT [dbo].[brands] ([brand_id], [name], [logo_url]) VALUES (3, N'Huawei', N'images/huawei.png')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [name]) VALUES (1, N'Flagship')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (2, N'Mid-Range')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (3, N'Budget')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [ProductName], [Quantity], [UnitPrice], [TotalPrice]) VALUES (3, 3, 8, N'iPhone 13 Mini', 2, CAST(499.00 AS Decimal(10, 2)), CAST(998.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [ProductName], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1003, 1003, 4, N'iPhone 15 Plus', 2, CAST(899.00 AS Decimal(10, 2)), CAST(1798.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [ProductName], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1004, 1004, 2, N'iPhone 15 Pro', 2, CAST(999.00 AS Decimal(10, 2)), CAST(1998.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [OrderDate], [TotalAmount], [Status]) VALUES (2, N'Xavier', N'', N'Texas', CAST(N'2026-04-12T16:03:08.910' AS DateTime), CAST(1798.00 AS Decimal(10, 2)), N'3')
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [OrderDate], [TotalAmount], [Status]) VALUES (3, N'Brian', N'', N'new york city', CAST(N'2026-04-12T16:45:43.823' AS DateTime), CAST(998.00 AS Decimal(10, 2)), N'1')
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [CustomerPhone], [CustomerAddress], [OrderDate], [TotalAmount], [Status]) VALUES (1003, N'Zain', N'', N'Damascus', CAST(N'2026-04-13T11:39:53.653' AS DateTime), CAST(1798.00 AS Decimal(10, 2)), N'1')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[product_specs] ON 

INSERT [dbo].[product_specs] ([spec_id], [product_id], [storage], [ram], [screen_size], [battery], [color], [os]) VALUES (1, 1, N'1TB', N'8GB', N'6.7"', N'4422mAh', N'Black Titanium', N'iOS 17')
INSERT [dbo].[product_specs] ([spec_id], [product_id], [storage], [ram], [screen_size], [battery], [color], [os]) VALUES (2, 2, N'256GB', N'8GB', N'6.1"', N'3274mAh', N'Natural Titanium', N'iOS 17')
INSERT [dbo].[product_specs] ([spec_id], [product_id], [storage], [ram], [screen_size], [battery], [color], [os]) VALUES (3, 3, N'128GB', N'6GB', N'6.1"', N'3349mAh', N'Pink', N'iOS 17')
SET IDENTITY_INSERT [dbo].[product_specs] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [brand_id], [category_id], [name], [price], [image_url], [description], [is_available], [StockQunatity]) VALUES (1, 1, 1, N'iPhone 15 Pro Max', CAST(1199.00 AS Decimal(8, 2)), N'Images/iphone15promax.jpeg', N'Top of the line iPhone with titanium design', 1, NULL)
INSERT [dbo].[products] ([product_id], [brand_id], [category_id], [name], [price], [image_url], [description], [is_available], [StockQunatity]) VALUES (2, 1, 1, N'iPhone 15 Pro', CAST(999.00 AS Decimal(8, 2)), N'images/iphone15pro.jpg', N'Pro camera system with A17 chip', 1, NULL)
INSERT [dbo].[products] ([product_id], [brand_id], [category_id], [name], [price], [image_url], [description], [is_available], [StockQunatity]) VALUES (3, 1, 1, N'iPhone 15', CAST(799.00 AS Decimal(8, 2)), N'images/iphone15.jpg', N'Dynamic Island comes to standard iPhone', 1, NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password]) VALUES (1, N'Zayn', N'Best123')
INSERT [dbo].[users] ([user_id], [username], [password]) VALUES (2, N'Reham', N'Roro1234')
INSERT [dbo].[users] ([user_id], [username], [password]) VALUES (3, N'Nour', N'Ass')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_specs]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
USE [master]
GO
